header {
    height: $headerHeight;     
    background-color: $primary-color;
    nav {        
        ul {
            display: flex;
            margin: 0;
            padding-top: 18px;
            justify-content: center;
            align-items: center;

            li {
                margin: 10px 20px;
                list-style-type: none;

                a {
                    text-decoration: none;
                    padding: 14px 20px;
                    border-radius: 5px;
                    color: $buttons-color;
                    font-family: $secondary-font;
                    font-size: 1.3em;
                    transition: all ease .3s;

                    &:hover {
                        background: rgba(0,0,0, 0.1);
                    }
                    
                }
            }

        }

    }

}
