.pages {
    position: absolute;
    top: $headerHeight;
    left: 0;
    background: rgba(0,0,0,  0.1);
    background-color: var(--c_theme_primary);
    width: 100%;
    min-height: calc(100% - #{$headerHeight});

    .page {
        display:none;
        margin-top: 30px;
        width: 100%;

        &.selected {
            display: block;
        }

        .container {
            width: 90%;
            margin: 0 auto;
        }

    }

}