.pages {
    position: absolute;
    top: $headerHeight;
    left: 0;
    background: rgba(0,0,0,  0.1);
    width: 100%;
    min-height: calc(100% - #{$headerHeight});

    .page {
        display:none;
        margin-top: 30px;
        width: 100%;

        &.selected {
            display: block;
        }

        .container {
            width: 90%;
            margin: 0 auto;
        }

    }

    .article-container {
        background-color: $primary-color;
        height: 200px;
        margin: 1rem;
        padding: 1rem;

        .image-container {
            width: 30%;
            float: left;
            height: 180px;
            img {
                display: inline-block;
                width: 90%;
                height: 75%;
                padding: 5%;
            }
            @include clearfix;
        }

        .text-container {
            float: left;
            width: 70%;
            @include clearfix;
        } 

        .article-button {
            display: block;
            float: right;
        }
        
    }

}