
.settings-page {
    width: 75%;
    margin: auto;

    .page-title {
        text-align: center;
        font-size: 1.3rem;
        color: $text-color;
    }

    .disable-latest-articles-users {
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            @include break(765){
                flex-direction: column;
                width: 60%;
                margin: auto;
            }

            li {
                border-radius: 48rem;                    
                width: (100% - 1%)/4 - 2%;
                margin: 1%;
                list-style: none;
                text-align: center;
                border: 1px solid $text-color;
                @include break(765){
                    width: 90%;
                    margin: 5px auto;                    
                }

                &:hover {
                    cursor: pointer;
                }

                p {
                    padding: 10px 0;
                    margin: 0;
                    font-size: 1rem;
                    color: $text-color;                        
                }
            }
        }

        .enabled {
            background-color: $text-color;
            p {
                color: $primary-color;
            }
        }
    }
}