$page_container_width: 1500px;
$primary-color: #394c5f;
// Breakpoints
$bp_mobile: 580px;
$bp_mobilelandscape: 760px;
$bp_tablet: 960px;
$bp_tabletlandscape: 1160px;
$bp_laptop: 1280px;
$bp_desktop: 1920px;

$headerHeight: 80px;