$page_container_width: 1500px;

// Theme colors (initial theme)
:root {
    --c_theme_primary: #3FA4B5;
    --c_theme_font: #FEFEF9;
    --c_theme_button_border: #45576d;
    --c_theme_button_inner: #3FA4B5;
    --c_theme_button_border_active: #45576d;
    --c_theme_button_inner_active: #45576d;
    --c_theme_button_text_active: #FEFEF9;
    --c_theme_shadow: 6px 3px 19px -1px rgba(0,0,0, 0.75);
    --c_theme_shadow_hover: 6px 3px 19px -1px rgba(0,0,0, 1);
    --c_theme_header: #2d7d8a;
}

//Fonts
$secondary-font: 'Roboto', sans-serif;
// Breakpoints
$bp_mobile: 580px;
$bp_mobilelandscape: 760px;
$bp_tablet: 960px;
$bp_tabletlandscape: 1160px;
$bp_laptop: 1280px;
$bp_desktop: 1920px;

$headerHeight: 80px;