$page_container_width: 1500px;

// Theme colors (initial theme)
:root {
    --c_theme_primary: #394c5f;
    --c_theme_secondary: #CFD8DC;
    --c_theme_font: #CFD8DC;
    --c_theme_button_border: #CFD8DC;
    --c_theme_button_inner: #394c5f;
    --c_theme_button_border_active: #CFD8DC;
    --c_theme_button_inner_active: #CFD8DC;
    --c_theme_button_text_active: #394c5f;
    --c_theme_shadow: '6px 3px 19px -1px rgba(0,0,0, 0.75)';
    --c_theme_shadow_hover: '6px 3px 19px -1px rgba(0,0,0, 1)';
    --c_theme_header: #394c5f;
}

//Fonts
$secondary-font: 'Roboto', sans-serif;
// Breakpoints
$bp_mobile: 580px;
$bp_mobilelandscape: 760px;
$bp_tablet: 960px;
$bp_tabletlandscape: 1160px;
$bp_laptop: 1280px;
$bp_desktop: 1920px;

$headerHeight: 80px;